.containerForm_tipos_residencia{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 500px;
    height: 230vh;
    /* position: relative; */
}


.progressOne_residence {
    position: absolute;
    background-color: #e4e01c;
    border-radius: 25px;
    width: 18%;
    height: 6%;  
    top: 0.5%;             
    left: 51.5%;           
    transform: translateX(-210%); 
}

.progressLabel_residence {
    position: relative;
    bottom: -25px;
    left: 0%;           
    transform: translateX(-345%);  
    margin: 0;
    top: -5%;            
}


.buttonsWrapper{
    display: flex;
    gap: 16px; 
    flex-direction: row;  /* Linha padrão para telas grandes */
    align-items: center;
}
.title_tipo_container{
    margin: 0%;
    width: 200px;
}
.title_tipo_residencia{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    height: calc(600% - 0px);

}

.casaUrbanaButton{   
    margin-top: -50px;
    padding: 10px 50px;
    border: none;
    border-radius: 30px;
    width: auto; 
    height: 50px;
    background-color: #200082;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;     
}
.casaUrbanaButton:hover{
    background-color: #3B00E9;
}
.casaRuralButton{
    margin-top: -50px;
    padding: 10px 50px;
    border: 2px solid #200082;
    border-radius: 30px;
    width: auto; 
    height: 50px;
    margin-left: 0; 
    background-color: #fff;
    color: #200082;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.casaRuralButton:hover{
    background-color: #3B00E9;
    color: #fff;
    border: none;
}

.buttonBack{
    margin-top: 80px;
    height: calc(400% - 0px);
}
.buttonBack button{
    /* margin-top: 50px; */
    padding: 10px 50px;
    border: none;
    border-radius: 30px;
    width: auto; 
    height: 50px;
    background-color: #ff4444;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;     
}

.buttonBack button:hover{
    background-color: #d60101;
}



@media (max-width: 768px){
  .containerForm_tipos_residencia{
    font-size: 14px;
    margin-top: 50px;

  }
  .casaUrbanaButton, .casaRuralButton, .buttonBack button{
    margin-top: 80px;
    width: 95%;
    font-size: 12px;
  }
  

}