.container_first_page{
    justify-content: center;
    align-items: center;
    height: 180vh;
}

.wrapper_first_page{
    display: flex;
    gap: 16px;
    flex-direction: row;
    margin-top: -10%;
}

.residencia button,  
.condominio button, 
.empresa_comercio button{
    background-color: #200082;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
}
.residencia button:hover, 
.empresa_comercio button:hover, 
.condominio button:hover{
    background-color: #3B00E9;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.residencia button, 
.condominio button, 
.empresa_comercio button {
  opacity: 0;  
  animation: appear 2s forwards;
}



@media (max-width: 768px){
  .wrapper_first_page, 
  .container_first_page{
    flex-direction: column;

  }
  
  .residencia button, 
  .empresa_comercio button, 
  .condominio button{
    margin-left: 0px;
    margin-block-end: 35px;

  }
  .container_first_page{
    height: 40vh;
  }
  .residencia{
    margin-top: 0px;
  }
}

@media (max-width: 428px){
  .residencia button,
  .empresa_comercio button,
  .condominio{
    margin-left: 0px;
    margin-block-end: 40px;
    top: -10px;

  }
}


@media (max-width: 414px){
  .residencia button, 
  .empresa_comercio button, 
  .condominio button{
    margin-block-end: 30px;
    margin-top: -50px;
    font-size: 14px;
  }
  .container_first_page{
    height: 400vh;
  }
  .residencia{
    margin-top: 0px;
  }
}

/* @media (max-width: 376px) {
  .container_first_page{
    height: 20vh;
  }
} */