.container_option_urban {
    position: relative; 
    justify-content: center;
    align-items: center;
    
   
  }
  .title_option_urban{
    margin-top: 50px;
  }
  
  .buttonsWrapper_option_menos_urban{
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .progressOne_option_urban {
    position: absolute;
    top: -0.5%;
    left: 18%;
    margin-top: -28px;
    margin-left: 0px;
    height: 30px;
    width: 120px;
    background-color: #e4e01c;
    border-radius: 25px;
    flex-grow: 1;
  }
  .progressLabel_option_urban{
    position: relative;
    left: -160px;
    transform: translateX(-50%);
    margin: 0;
    top: -25px;
    
  }
  
  .option_menos_urban button, 
  .option_mais_urban button, 
  .option_ever_urban button{
    background-color: #200082;
    
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 1px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
  }

  .buttonBack_option_urban button{
    background-color: #da1717;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
  }
  .option_menos_urban button:hover, .option_mais_urban button:hover,
  .option_ever_urban button:hover{
    background-color: #3B00E9;
  }
   .buttonBack_option_urban button:hover{
    background-color: #ff000dcc;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .option_menos_urban button, .option_mais_urban button, .option_ever_urban button,
  .buttonBack_option_urban button {
    opacity: 0;  
    animation: appear 2s forwards;
  }
  

  
  @media (max-width: 2000px ){
  
  }
  
  @media (min-width: 1200px ){
  
  }
  
  @media (min-width: 414px){
    
  }
  @media (min-width: 414px) and (max-width: 896px){ 
   
    
    
  }
  @media (max-width: 390px){
    
  }
  @media (max-width: 393px){
  
  }
  @media (min-width: 375px) {
    
  }




  @media (max-width: 360px){
   
  }
  
  @media (max-width: 768px){
    .progressOne_option_urban{
        position: relative;
        height: 26px;
        left: 73px;
        width: 70px;
        top: 2px;
    }
    .progressLabel_option_urban{
        /* height: 0px;
        left: -80px;
        top: -19px; */
        position: absolute;
        left: 92px;
        top: 3.5%;
        transform: translateY(-50%);
    }
    .title_option_urban{
        height: 4vh;
    }

    .title_option_urban{
        
        margin-top: 20px;
    }
    .buttonsWrapper_option_menos_urban{
        flex-direction: column;
        gap: 10px;
        margin-top: 80px;
        
    }
    .button_menos_urban, 
    .option_mais_urban, 
    .option_ever_urban{
        margin-top: -70px;
        margin-bottom: 20px;
    }
    .buttonBack_option_urban{
        margin-top: -30px;
        margin-bottom: 5px;
    }

    
    .option_ever_urban button {
        font-size: 14px;
        margin-top: 10px;
        padding: 12px 60px;
    }

    .option_menos_urban button{
      font-size: 14px;
      margin-top: 10px;
      padding: 12px 50px;
    }

    .option_mais_urban button{
      font-size: 14px;
      margin-top: 25px;
      padding: 12px 60px;
    }




    .buttonBack_option_urban button{
        font-size: 14px;
        margin-top: -10px;
        padding: 12px 80px;
        
    }


  }