.container_option_urban {
    position: relative; 
    justify-content: center;
    align-items: center;
    
   
  }
  .title_option_urban{
    margin-top: 50px;
  }
  
  .buttonsWrapper_option_menos_urban{
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .progressOne_option_urban {
    position: absolute;
    top: -1.5%;
    left: 2%;
    margin-top: -29px;
    margin-left: 0px;
    height: 34px;
    width: 300px;
    background-color: #e4e01c;
    border-radius: 25px;
    flex-grow: 1;

  }
  .progressLabel_option_urban{
    position: relative;
    left: -75px;
    transform: translateX(-50%);
    margin: 0;
    top: -27px;
    font-weight: bold;
  }
  
  .option_menos_urban button, 
  .option_mais_urban button, 
  .option_ever_urban button{
    background-color: #200082;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 1px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
  }

  .buttonBack_option_urban button{
    background-color: #da1717;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
  }
  .option_menos_urban button:hover, .option_mais_urban button:hover,
  .option_ever_urban button:hover{
    background-color: #3B00E9;
  }
   .buttonBack_option_urban button:hover{
    background-color: #ff000dcc;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .option_menos_urban button, .option_mais_urban button, .option_ever_urban button,
  .buttonBack_option_urban button {
    opacity: 0;  
    animation: appear 2s forwards;
  }


  @media (max-width: 2000px){
    .progressOne_option_urban{
      top: -5px;
    }
  }

  @media(max-width: 1800px){

    .title_option_urban{
      margin-top: -0px;
    }
    .buttonBack_option_urban button{
      top: -12px;
      padding: 10px 70px
    };





  }

  @media (max-width: 1500px){
    .container_option_urban{
      height: 30vh;
    }
    .progressOne_option_urban{
      height: 30px;
      top: -1px;
    }
    .title_option_urban{
      margin-top: 10px;
    }

  
    .buttonBack_option_urban button{
      padding: 10px 70px;
      left: 10px;
    }
  }
  
  @media (max-width: 768px){
    .progressOne_option_urban{
        position: relative;
        height: 26px;
        left: 73px;
        width: 70px;
        top: 3px;
    }
    .progressLabel_option_urban{
        position: absolute;
        left: 92px;
        top: 4%;
        transform: translateY(-50%);
    }
    .title_option_urban{
        height: 4vh;
        margin-top: 20px;
    }

    .buttonsWrapper_option_menos_urban{
        flex-direction: column;
        gap: 10px;
        margin-top: 80px;
        
    }
    .button_menos_urban, 
    .option_mais_urban, 
    .option_ever_urban{
        margin-top: -70px;
        margin-bottom: 20px;
    }
    .buttonBack_option_urban{
        margin-top: -30px;
        margin-bottom: 5px;
    }

    
    .option_ever_urban button {
        font-size: 14px;
        margin-top: 10px;
        padding: 12px 60px;
    }

    .option_menos_urban button{
      font-size: 14px;
      margin-top: 10px;
      padding: 12px 50px;
    }

    .option_mais_urban button{
      font-size: 14px;
      margin-top: 25px;
      padding: 12px 60px;
    }

    .buttonBack_option_urban button{
        font-size: 14px;
        margin-top: -10px;
        padding: 12px 80px;
        
    }


  }

  @media (max-width: 376px){
    .progressOne_option_urban{
        position: relative;
        height: 20px;
        left: 2%;
        width: 40%;
        top: 9px;
    }
    .progressLabel_option_urban{
      position: absolute;
      left: 26%;
      margin-top: 1.0%;
    }
  }

  @media (max-width: 428px){
    .title_option_urban{
      margin-top: 10%;
    }

    .progressOne_option_urban{
      width: 40%;
      left: 2%;
    }
    .progressLabel_option_urban{
      left: 30%;
      top: 18px;
    }
  }
 

  @media (max-width: 393px){
    .progressLabel_option_urban{
      top: 15px;
    }
  }

  @media (max-width: 360px){
    .progressLabel_option_urban{
      top: 4%;
    }
  }
