.container_option_residence {
    position: relative; 
    justify-content: center;
    align-items: center;
    
   
  }
  .title_option_residence{
    margin-top: 50px;
  }
  
  .buttonsWrapper_option_residence{
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .progressOne_option_residence {
    position: absolute;
    top: -0.5%;
    left: 45%;
    margin-top: -28px;
    margin-left: 0px;
    height: 30px;
    width: 120px;
    background-color: #e4e01c;
    border-radius: 25px;
    flex-grow: 1;
  }
  .progressLabel_option_residence{
    position: relative;
    left: 30px;
    transform: translateX(-50%);
    margin: 0;
    top: -25px;
    
  }
  
  .option_residence_patio_fundos button, 
  .option_residence_patio_frente_fundos button, 
  .option_residence_nao_possui_patio button{
    background-color: #200082;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 70px 1px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
  }
  

  .buttonBack_option_residence button{
    background-color: #da1717;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
  }
  .option_residence_patio_fundos button:hover, 
  .option_residence_patio_frente_fundos button:hover,
  .option_residence_nao_possui_patio button:hover{
    background-color: #3B00E9;
  }
   .buttonBack_option_residence button:hover{
    background-color: #ff000dcc;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .option_residence_patio_fundos button, 
  .option_residence_patio_frente_fundos button, 
  .option_residence_nao_possui_patio button,
  .buttonBack_option_residence button {
    opacity: 0;  
    animation: appear 2s forwards;
  }
  

  
  @media (max-width: 2000px ){
  
  }
  
  @media (min-width: 1200px ){
  
  }
  
  @media (min-width: 414px){
    
  }
  @media (min-width: 414px) and (max-width: 896px){ 
   
    
    
  }
  @media (max-width: 390px){
    
  }
  @media (max-width: 393px){
  
  }
  @media (min-width: 375px) {
    
  }




  @media (max-width: 360px){
   
  }
  
  @media (max-width: 768px){
    .progressOne_option_residence{
        position: relative;
        height: 26px;
        left: 96px;
        width: 70px;
        top: 2px;
    }
    .progressLabel_option_residence{
        position: absolute;
        left: 120px;
        top: 3.5%;
        transform: translateY(-50%);
    }
    .title_option_residence{
        height: 10vh;
    }

    .title_option_residence{   
        margin-top: 30px;
    }
    .buttonsWrapper_option_residence{
        flex-direction: column;
        gap: 10px;
        margin-top: 80px;
        
    }
    .option_residence_patio_fundos,
    .option_residence_patio_frente_fundos, 
    .option_residence_nao_possui_patio,
    .buttonBack_option_residence{
        margin-top: -80px;
        margin-bottom: 5px;

    }

    .option_residence_patio_fundos button,
    .option_residence_patio_frente_fundos button,
    .option_residence_nao_possui_patio button {
        font-size: 14px;
        margin-top: 30px;
        padding: 12px 80px;
        
    }
    .buttonBack_option_residence button{
        font-size: 14px;
        margin-top: 30px;
        padding: 12px 50px;
        
    }


  }