.container_option_residence{
  position: relative;
  justify-content: center;
  align-items: center;
}

.title_option_residence{
  margin-top: 50px;
}

.progressOne_option_residence{
  position: absolute;
  top: 0.8%;
  left: -7%;
  margin-top: -6.2%;
  height: 34px;
  width: 450px;
  background-color: #e4e01c;
  border-radius: 25px;
  flex-grow: 1;
  
}
.progressLabel_option_residence{
  position: relative;
  left: 80px;
  transform: translateX(-50%);
  margin: 0;
  top: -27px;
  font-weight: bold;
}

.buttonsWrapper_option_residence{
  display: flex;
  justify-content: center;
  gap: 5px;
}


.option_residence_patio_frente_fundos button{
  background-color: #200082;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 1px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.option_residence_patio_fundos button{
  background-color: #200082;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 1px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  cursor: pointer;

}

.option_residence_nao_possui_patio button{
  background-color: #200082;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 1px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.buttonBack_option_residence button{
  position: relative;
  background-color: #da1717;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 12px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  overflow: hidden;
}

.option_residence_nao_possui_patio button:hover,
.option_residence_patio_frente_fundos button:hover,
.option_residence_patio_fundos button:hover{
  background-color: #3B00E9;
}
.buttonBack_option_residence button:hover{
  background-color: #e60000;
}

@keyframes appear{
  0%{
    opacity: 0;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.option_residence_patio_fundos button,
.option_residence_nao_possui_patio button,
.option_residence_patio_frente_fundos button,
.buttonBack_option_residence button{
  opacity: 0;
  animation: appear 2s forwards;
}


@media(max-width: 1800px){
  .progressOne_option_residence{
    left: -48px;
  }
}

@media (max-width: 1500px){
  .progressOne_option_residence{
    height: 31px;
    top: 6px;
    left: -44.9px;
  }
  .title_option_residence{
    margin-top: 20px;
  }
}

@media (max-width: 768px){
  .progressOne_option_residence{
    position: relative;
    height: 26px;
    left: 73px;
    width: 70px;
    top: 2px;
  }
  .progressLabel_option_residence{
    position: absolute;
    left: 92px;
    top: 3.5%;
    transform: translateY(-50%);
  }

  .title_option_residence{
    margin-top: 40px;
    height: 4vh;
  }




  .buttonsWrapper_option_residence{
    flex-direction: column;
    gap: 10px;
    margin-top: 120px;
  }

  .option_residence_nao_possui_patio,
  .option_residence_patio_frente_fundos,
  .option_residence_patio_fundos{
    margin-top: -70px;
    margin-bottom: 20px;
  }

  .buttonBack_option_residence{
    margin-top: -70px;
    margin-bottom: 5px;
  }

  .option_residence_patio_frente_fundos button {
    font-size: 14px;
    margin-top: 10px;
    /* margin-bottom: 20px; */
    padding: 12px 60px;
  }
  .option_residence_nao_possui_patio button {
    font-size: 14px;
    margin-top: 10px;
    padding: 12px 60px;
  }

  .option_residence_patio_fundos button {
    font-size: 14px;
    margin-top: 10px;
    padding: 12px 60px;
  }

  .buttonBack_option_residence button {
    font-size: 14px;
    margin-top: 20px;
    padding: 12px 80px;
  }
}

@media(max-width: 786px){
  .progressOne_option_residence{
    /* top: -9px; */
    margin-top: -10.5%;
    margin-left: 1px;
  }
  .progressLabel_option_residence{
    position: absolute;
    margin-top: -0px;
  }
}

@media (max-width: 428px){
  .title_option_residence{
    margin-top: 70px;
  }
  .progressOne_option_residence{
    width: 100%;
    left: -23.5%;
    top: 3px;
  }
  .progressLabel_option_residence{
    left: 60%;
    top: 3.6%;
  }
  
}

@media (max-width: 415px){
  .progressOne_option_residence{
    left: -57.7px;
  }
}

@media (max-width: 376px) {


  .progressOne_option_residence{
    position: relative;
    height: 26px;
    margin-left: 3%;
    width: 40%;
    top: 3px;
  }
  .progressLabel_option_residence{
    left: 26%;
    top: 15px;
  }
}



@media (max-width: 393px){
  .progressLabel_option_residence{
    top: 15px;
    left: 55%;
  }
  .progressOne_option_residence{
    left: -17%;
    width: 90%;
  }

}

@media (max-width: 376px){
  .progressOne_option_residence{
    height: 20px;
    top: 8.6px;
  }
  .progressLabel_option_residence{
    top: 18px;
    left: 55%;
  }
  .title_option_residence{
    margin-top: 40px;
  }
}
@media (max-width: 360px){
  .progressOne_option_residence{
    left: -14%;
  }
  .progressLabel_option_residence{
    top: 4%;
    left: 60%;
  }
}