.containerForm_company {
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .title_tipo_residencia {
    margin-top: 15px;
  }
  
  .buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 10px;
   */
  }
  
  .progressOne_company {
    position: relative;
    top: 5px;
    left: -27px;
    height: 25px;
    width: 120px;
    background-color: #e4e01c;
    border-radius: 25px;
  }
  
  .progressLabel_company {
    position: absolute;
    left: 60px;
    top: -4.5%;
  }
  
 

  .buttonBack button {
    background-color: #200082;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    position: relative;
    opacity: 0;
    animation: appear 2s forwards;
  }
  .buttons_wrapper_two{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  
  .option_business_building button,
  .option_street_commerce button
  {
    background-color: #200082;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -20px 1px;
    top: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    position: relative;
    opacity: 0;
    animation: appear 2s forwards;
  }
  
  .buttonBack button {
    background-color: #da1717;
    padding: 12px 80px;
    margin-top: 120px;
  }
  
  .company_industrial button:hover, .company_center button:hover {
    background-color: #3B00E9;
  }
  
  .buttonBack button:hover {
    background-color: #ff000dcc;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Ajustes para telas maiores */
  @media (min-width: 769px) {
    .title_tipo_residencia {
      margin-top: 60px;
    }
  
    .buttonsWrapper {
      flex-direction: row;
    }
  
    .progressOne_company {
      position: absolute;
      top: -0.7%;
      left: -27%;
      margin-top: -30px;
      height: 33px;
      width: 250px;
    }
  
    .progressLabel_company {
      position: relative;
      left: -145px;
      transform: translateX(-50%);
      top: -25px;
    }
  
    .company_center button, .company_industrial button {
      padding: 12px 24px;
      margin: 70px 1px;
      font-size: 16px;
    }
  
    .buttonBack button {
      margin-top: 4px;
    }
  }
  
  .containerForm_company {
  position: relative;
  height: 430vh;
  justify-content: center;
  align-items: center;
  }
  
  /* .title_tipo_residencia {
  top: 20px;
  } */
  
  .buttonsWrapper {
  display: flex;
  
  justify-content: center;
  gap: 10px;
  }
  
  .progressOne_company {
  position: relative;
  top: -3px;
  left: -10.7%;
  height: 33px;
  width: 200px;
  background-color: #e4e01c;
  border-radius: 25px;
  }
  
  .progressLabel_company {
  position: absolute;
  left: 45px;
  top: -6%;
  }
  
  .company_center button, 
  .company_industrial button{
  background-color: #200082;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 1px;
  cursor: pointer;
  transition-duration: 0.4s;
  position: relative;
  opacity: 0;
  animation: appear 2s forwards;
  top: 30px;
  }
  
  .buttonBack button {
  background-color: #da1717;
  padding: 12px 80px;
  margin-top: 80px;
  }
  
  .company_industrial button:hover, .company_center button:hover {
  background-color: #3B00E9;
  }
  
  .buttonBack button:hover {
  background-color: #ff000dcc;
  }
  
  @keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  }
  
  /* Ajustes para telas maiores */
  @media (max-width: 769px) {
  .containerForm_company {
    height: 720vh;
  }
  
  .title_tipo_residencia {
    margin-top: 40px;
  }
  
  .buttonsWrapper {
    flex-direction: column;
    gap: 0px;
  }
  .buttons_wrapper_two{
    flex-direction: column;
    gap: 50px;
  }
  
  .progressOne_company {
    position: absolute;
    height: 26px;
    margin-top: -2%;
    margin-left: 10.5%;
    /*verificar esse ponto para celulares*/
  }
  
  .progressLabel_company {
    margin-top: -1%;
    margin-left: 15px;
  }

  
  
  .company_center button {
    width: 260px;
    font-size: 14px;
  }
  .company_industrial button{
    width: 260px;
    font-size: 14px;
    margin-top: 0px;
  }
  
  .option_business_building button,
  .option_street_commerce button
  {
    width: 260px;
    font-size: 14px;
    margin-top: 0px;
  }
  
  .buttonBack button {
    font-size: 14px;
    margin-top: 80px;
  }


  }
  
  @media (max-width: 428px) {
    .progressOne_company{
      top: -3.6%;
      left: -22%;
      width: 35%;
    }
    .progressLabel_company{
      left: -4%;
      top: -3.1%;
    }
  }
  
  @media (max-width: 414px) {
    /* .progressOne_company{
      top: -3.5%;
      left: -22%;
      width: 35%;
      height: 26px;
    }
    .progressLabel_company{
      left: -4%;
      top: -3.1%;
    } */
  }
  
  @media (max-width: 393px){
    .progressOne_company
    {
      top: -3.8%;
      left: -18.9%;
      width: 35%;
      height: 26px;
    }
    .progressLabel_company{
      left: -3%;
      top: -3.3%;
    }
  }
  
  @media (max-width: 376px){
    .containerForm_company {
      height: 700vh;

    }
    .title_tipo_residencia {
      margin-top: 16px;
    }
    .progressOne_company{
      margin-top: -1.5%;
      left: -51px;
      height: 20px;
    }
    .progressLabel_company{
      left: 6%;
      top: -3.5%;
    }
  
    .buttonsWrapper {
      flex-direction: column;
      gap: 0px;
    }
    .buttons_wrapper_two{
        flex-direction: column;
        gap: 40px;
    }

    .company_center button, .company_industrial button {
      width: 260px;
      font-size: 14px;
      margin-top: -20px;
    }
    .option_business_building button,
    .option_street_commerce button
    {
      width: 260px;
      font-size: 14px;
      margin-top: -10px;
    }
  
  }
  
  @media(max-width: 360px){
    .progressOne_company{
      margin-top: -6px;
      left: -14%;
      height: 23px;
    }
    .progressLabel_company{
      left: 8%;
      top: -3.6%;
    }
  }