.container {
  position: relative;
  width: 700px;  /* Edita o tamanho do espaço*/
  height: 500px; /* Edita o tamanho do espaço*/
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBar {
  top: -0.6%;
  left: 3%;
  width: 95%;
  height: 30px;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid rgb(42, 1, 167);
}

.progressOne {
  top: -2%;
  left: -1%;
  margin-top: -2px;
  margin-left: -2px;
  height: 119%;
  width: 20%;
  background-color: #e4e01c;
  border-radius: 25px;
}
.progressLabel{
  position: absolute;
  bottom: -25px;
  left: 12%;
  transform: translateX(-50%);
  margin: 0;
  top: 1%;
}

.title_Container{
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: calc(600% - 0px);

}

.title_Residencia{
  margin: 0;
}



@media (max-width: 768px){
  .container{
    width: 96vw;
    height: 40vh;
    /* overflow-y: auto; */
    
  }
  .progressLabel{
    position: absolute;
    bottom: -25px;
    left: 12%;
    transform: translateX(-50%);
    margin: 0;
    top: 2%;
  }
}
