.container {
  position: relative;
  width: 700px;  /* Edita o tamanho do espaço*/
  height: 500px; /* Edita o tamanho do espaço*/
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBar {
  top: -0.6%;
  left: 3%;
  width: 95%;
  height: 30px;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid rgb(42, 1, 167);
}

.progressOne {
  top: -2%;
  left: -1%;
  margin-top: -2px;
  margin-left: -2px;
  height: 119%;
  width: 20%;
  background-color: #e4e01c;
  border-radius: 25px;
}
.progressLabel{
  position: absolute;
  bottom: -25px;
  left: 12%;
  transform: translateX(-50%);
  margin: 0;
  top: 1%;
}

.title_Container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  height: calc(600% - 0px);

}

.title_Residencia{
  margin: 0;
}

.img_banner img{
  position: relative;
  width: 800px;  
  height: 150px; 
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 1%;
  object-fit: contain;  
}

.logo_intersept{
  margin-top: -1px;
}
.logo_intersept img{
  position: relative;
  
  width: 180px;
  height: 180px;

  animation: moveDownUp 3s infinite

}

@keyframes moveDownUp {
  0% { transform: translateY(0);}
  50% { transform: translateY(10px);}
  100% { transform: translateY(0);}
}







@media (max-width: 2000px ){
  .img_banner img{
    width: 700px;
    height: 175px;
  }
}

@media (min-width: 1200px ){
  .img_banner img{
    width: 700px;
    height: 175px;
  }
}

@media (min-width: 414px){
  .img_banner img{
    width: 800;
    height: 125px;
  }
}
@media (max-width: 414px){
  .img_banner img{
    width: 398px;
    height: 100px;
    
  }
  
}
@media (max-width: 390px){
  
  .img_banner img{
    width: 375px;
    height: 95px;
  }
  .logo_intersept{
    margin-top: -60px;
  }
  .logo_intersept img{
    position: relative;
    
    width: 180px;
    height: 180px;
  
  }
}

@media (max-width: 376px){
  .img_banner img{
    width: 360px;
    height: 95px;
  }
}
@media (max-width: 360px){
  .img_banner img{
    width: 345px;
    height: 95px;
  }
}

@media (max-width: 768px){
  .container{
    width: 96vw;
    height: 60vh;
    /* overflow-y: auto; */
  }

  .img_banner{
    width: 50px;
    height: 50px;
    margin-top: 3%;
  }

  .progressLabel{
    position: absolute;
    bottom: -25px;
    left: 12%;
    transform: translateX(-50%);
    margin: 0;
    top: 2%;
  }
}