




.container {
  position: relative;
  width: 700px;  /* Edita o tamanho do espaço*/
  height: 500px; /* Edita o tamanho do espaço*/
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.progressBar {
  position: absolute;
  top: -0.6%;
  left: 3%;
  
  
  width: 95%;
  height: 30px;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid rgb(42, 1, 167);
}

.progressOne {
  position: absolute;
  top: -3%;
  left: -2%;
  height: 119%;
  width: 20%;
  background-color: #e4e01c;
  border-radius: 25px;
}
.progressLabel{
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  top: 15%;


}

.title_Container{
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: calc(600% - 10px);

}

.title_Residencia{
  margin: 0;
}




.buttonHomeResidencia{
  position: absolute;
  display: flex;
  gap: 16px;
  justify-content: center;
  
}


.casaUrbanaButton
{   
  
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  width: 145%;
  height: 50px;
  margin-left: 20px;
  background-color: #200082;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;    
}
.casaUrbanaButton:hover{
  background-color: #3B00E9;
}


.casaRuralButton{
  padding: 10px 20px;
  /* border-color: #200082; */
  border: 2px solid #200082;
  border-radius: 30px;
  width: 90%;
  height: 50px;
  margin-left: 145px;
  background-color: #fff;
  color: #200082;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.casaRuralButton:hover{
  background-color: #3B00E9;
  color: #fff;
  border: none;
}



.prosseguir{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin-top: 200px;
  margin-left: 110px;
}

.prosseguirButton{
  padding: 10px 20px;
  border: none;
  /* border-left: none;
  border-right: none; */
  border-radius: 30px;
  background-color: #200082;
  width: 80%;
  height: 50px;
  color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.prosseguirButton:hover{
  background-color: #3B00E9;
}
.prosseguirSobre{
  position: absolute;
  width: 12%;
  height: 100%;
  margin-left: 350px;
  /* border-radius: 30px; */
  border-width: 30px;
  border-radius: 0 30px 30px 0;
  border: 2px solid #200082;
  border-left: none;
  
  
}




.prosseguirSobre svg{
  fill: #fff;
  width: 30px;
  height: 45px;
  margin-left: 15px;
}


