.container_option_worktime {
    position: relative; 
    justify-content: center;
    align-items: center;
    
   
  }
  .title_option_worktime{
    margin-top: 50px;
  }
  
  .buttonsWrapper_option_menos_worktime{
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .progressOne_option_worktime {
    position: absolute;
    top: -1.9%;
    left: -06%;
    margin-top: -29px;
    margin-left: 0px;
    height: 35px;
    width: 450px;
    background-color: #e4e01c;
    border-radius: 25px;
    flex-grow: 1;
    
  }
  .progressLabel_option_worktime{
    position: relative;
    left: 75px;
    transform: translateX(-50%);
    margin: 0;
    top: -26px;
    font-weight: bold;
  }
  
   
  .option_mais_worktime button, 
  .option_ever_worktime button{
    background-color: #200082;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 1px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
  }

  .option_menos_worktime button{
    background-color: #200082;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 1px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
  }

  .buttonBack_option_worktime button{
    background-color: #da1717;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
  }
  .option_menos_worktime button:hover, .option_mais_worktime button:hover,
  .option_ever_worktime button:hover{
    background-color: #3B00E9;
  }
   .buttonBack_option_worktime button:hover{
    background-color: #ff000dcc;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .option_menos_worktime button, .option_mais_worktime button, .option_ever_worktime button,
  .buttonBack_option_worktime button {
    opacity: 0;  
    animation: appear 2s forwards;
  }

  @media (max-width: 1500px){
    .progressOne_option_worktime{
      height: 31px;
      top: -2px;
      left: -27px;
    }
    .option_menos_worktime button{
      padding: 12px 20px;
    }
  }
  
  @media (max-width: 768px){
    .progressOne_option_worktime{
        position: relative;
        height: 26px;
        width: 70px;
        top: 3px;
    }
    .progressLabel_option_worktime{
        position: absolute;
        left: 92px;
        top: 3.5%;
        transform: translateY(-50%);
    }
    .title_option_worktime{
        height: 4vh;
        margin-top: 60px;
    }

    .buttonsWrapper_option_menos_worktime{
        flex-direction: column;
        gap: 10px;
        margin-top: 80px;
        
    }
    .button_menos_worktime, 
    .option_mais_worktime, 
    .option_ever_worktime{
        margin-top: -70px;
        margin-bottom: 20px;
    }
    .buttonBack_option_worktime{
        margin-top: -30px;
        margin-bottom: 5px;
    }

    
    .option_ever_worktime button {
        font-size: 14px;
        margin-top: 10px;
        padding: 12px 85px;
    }

    .option_menos_worktime button{
      font-size: 14px;
      margin-top: 10px;
      padding: 12px 50px;
    }

    .option_mais_worktime button{
      font-size: 14px;
      margin-top: 25px;
      padding: 12px 85px;
    }

    .buttonBack_option_worktime button{
        font-size: 14px;
        margin-top: -10px;
        padding: 12px 80px;
        
    }


  }


  @media (max-width: 428px){
    .progressOne_option_worktime{
      width: 60%;
      left: 1.3%;
    }
    .progressLabel_option_worktime{
      left: 47%;
     
    }
  }
 

  @media (max-width: 393px){
    .progressLabel_option_worktime{
      top: 17px;
      left: 180px;
    }
  }

  @media (max-width: 376px){
    .title_option_worktime{
      margin-top: 40px;
    }
    .progressOne_option_worktime{
        position: relative;
        height: 20px;
        left: 2%;
        width: 60%;
        top: 10px;
    }
    .progressLabel_option_worktime{
      left: 50%;
      margin-top: 0.7%;
    }
  }
  @media (max-width: 360px){
    .progressLabel_option_worktime{
      top: 4%;
    }
  }
