.containerForm_tipos_residencia{
  position: relative;
  justify-content: center;
  align-items: center;
  height: 445vh;
}
.title_tipo_residencia{
  margin-top: 30px;
}

.progressOne_residence{
    position: absolute;
    top: -1.7%;
    left: -15.5%;
    margin-top: -27px;
    margin-left: 0px;
    height: 35px;
    width: 30%;
    background-color: #e4e01c;
    border-radius: 25px;
    flex-grow: 1;
}

.progressLabel_residence{
    position: relative;
    left: -42%;
    transform: translateX(-50%);
    margin: 0;
    top: -27px;
    font-weight: bold;
}

.buttonsWrapper{
  display: flex;
  justify-content: center;
  gap: 5px;


}
/* .buttons_wrapper_two{
  display: flex;
  justify-content: center;
  gap: 6px;
} */


.casaUrbana button,
.casaRural button{
  background-color: #200082;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  cursor: pointer;  
  top: 70%;
  left: -1%;
}

.option_street_commerce button,
.option_business_building button{
  background-color: white;
  border: #200082 solid 1.5px;
  border-radius: 30px;
  color: #200082;
  padding: 13px 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  cursor: pointer;  
  top: 70%;
  left: 1%;   
}

.buttonBack button{
  position: relative;
  background-color: #da1717;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 12px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  overflow: hidden;
  top: 90px;
}

.option_street_commerce button:hover,
.option_business_building button:hover{
  background-color: #200082;
  color: white;
}
.casaRural button:hover,
.casaUrbana button:hover{
  background-color: #3B00E9;
}

.buttonBack button:hover{
  background-color: #ff000dcc;
}

@keyframes appear {
  0% {
      opacity: 0;
      transform: translateY(-30px);

  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.option_street_commerce button,
.option_business_building button,
.casaRural button,
.casaUrbana button,
.buttonBack button
{
  animation: appear 2s forwards;
}

@media(max-width: 4000px){
  .progressOne_residence{
    left: -115px;
    
    
  }
  .progressLabel_residence{
    left: -240px;
  }
}

@media (min-width: 1550px) and (max-width: 2000px){
  .progressOne_residence{
      left: -114px;
      height: 35px;
      top: -6.7px;
  }
  .progressLabel_residence{
      top: -28px;
      left: -240px;
  }
}

@media(max-width: 1800px){
  .progressLabel_residence{
    top: -28px;
    left: -240px;
  }
  .progressOne_residence{
    left: -120px;
  }

}

@media (max-width: 1500px){
  .containerForm_tipos_residencia{
      height: 440vh;
  }
  .progressOne_residence{
      height: 31px;
      top: -3px;
      left: -26.8%;
  }
  .progressLabel_residence{
      top: -25px;
      left: -235px;
  }
}

@media (max-width: 768px) {
  .containerForm_tipos_residencia{
      height: 720vh;
  }

  .title_tipo_residencia{
      margin-top: 60px;
  }
  
  .progressOne_residence{
      position: relative;
      height: 27px;
      left: -15.9%;
      width: 30%;
      top: 0.1%;
  }
  
  .progressLabel_residence{
      position: absolute;
      left: 5%;
      top: -3.7%;
  }

  .buttonsWrapper{
      flex-direction: column;
      gap: 10px;

  }
 .buttons_wrapper_two{
      flex-direction: column;
      gap: 10px;
      
 }

 .casaUrbana button{
       padding: 15px 20px;
       top: 80px;
       font-size: 14px;
 }
 .casaRural button{
      padding: 15px 25px;
      top: 80px;
      font-size: 14px;
 }

 /* .option_street_commerce button{
      padding: 12px 70px;
      left: -0%;
      top: 30px;
      
 }
 .option_business_building button{
      padding: 12px 73px;
      left: -0%;
      top: 30px;
 } */

 .buttonBack button{
      padding: 12px 70px;
      top: 100px;
      font-size: 14px;
 }
}

@media (max-width: 428px) {
  .containerForm_tipos_residencia{
    height: 760vh;
  }
  .progressOne_residence{
    left: -18%;
    top: 2px;
    height: 25px;
  }
  .progressLabel_residence{
    left: 1px;
  }
}

@media (max-width: 415px){
  .progressOne_residence{
    left: -48px
  };

}

@media (max-width: 391px) {
  .progressOne_residence{
      left: -12.8%;
      height: 26px;
  }
  .progressLabel_residence{
      top: -3.9%;
      left: 20px;
  }
}

@media (max-width: 376px) {
  .containerForm_tipos_residencia{
    height: 700vh;
  }
  .progressOne_residence{
      position: relative;
      height: 20px;
      left: -10.1%;
      width: 30%;
      top: 1.7%;
  }
  .progressLabel_residence{
      position: absolute;
      left: 11%;
      top: -3.9%;
  }

  .casaUrbana button {
      font-size: 14px;
      top: 15px;
      top: 50px;
  }
  .casaRural button {
      font-size: 14px;
      top: 50px;
  }
  /* .option_street_commerce button {
      font-size: 14px;
      top: 1px;
  }
  .option_business_building button {
      font-size: 14px;
      top: 5px;
  } */
  .buttonBack button {
      font-size: 14px;

      top: 80px;
  }
}

