.container_option_townhouse{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 430vh;
}
.title_option_townhouse{
    margin-top: 50px;
}
.progressOne_option_townhouse{
    position: absolute;
    top: -1.7%;
    left: -15.5%;
    margin-top: -27px;
    margin-left: 0px;
    height: 35px;
    width: 30%;
    background-color: #e4e01c;
    border-radius: 25px;
    flex-grow: 1;
    
}

.progressLabel_option_townhouse{
    position: relative;
    left: -42%;
    transform: translateX(-50%);
    margin: 0;
    top: -27px;
    font-weight: bold;
}



.buttonsWrapper_option_townhouse{
    display: flex;
    justify-content: center;
    gap: 5px;


}
.buttons_wrapper_two{
    display: flex;
    justify-content: center;
    gap: 6px;
}


.option_townhouse_shopping_center button,
.option_townhouse_industrial_area button{
    background-color: #200082;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
    cursor: pointer;  
    top: 70%;
    left: -1%;
}

.option_street_commerce button,
.option_business_building button{
    background-color: white;
    border: #200082 solid 1.5px;
    border-radius: 30px;
    color: #200082;
    padding: 13px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
    cursor: pointer;  
    top: 70%;
    left: 1%;   
}

.button_back button{
    position: relative;
    background-color: #da1717;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: hidden;
    top: 90px;
}

.option_street_commerce button:hover,
.option_business_building button:hover{
    background-color: #200082;
    color: white;
}
.option_townhouse_industrial_area button:hover,
.option_townhouse_shopping_center button:hover{
    background-color: #3B00E9;
}

.button_back button:hover{
    background-color: #ff000dcc;
  }

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-30px);

    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.option_street_commerce button,
.option_business_building button,
.option_townhouse_industrial_area button,
.option_townhouse_shopping_center button,
.button_back button
{
    animation: appear 2s forwards;
}


@media (max-width: 768px) {
    .container_option_townhouse{
        height: 720vh;
    }

    .title_option_townhouse{
        margin-top: 60px;
    }
    
    .progressOne_option_townhouse{
        position: relative;
        height: 26px;
        left: -10.9%;
        width: 30%;
        top: 0.1%;
    }
    
    .progressLabel_option_townhouse{
        position: absolute;
        left: 10%;
        top: -3.7%;
    }

    .buttonsWrapper_option_townhouse{
        flex-direction: column;
        gap: 10px;

    }
   .buttons_wrapper_two{
        flex-direction: column;
        gap: 10px;
        
   }

   .option_townhouse_shopping_center button{
         padding: 15px 20px;
         top: 80px;
         font-size: 14px;
   }
   .option_townhouse_industrial_area button{
        padding: 15px 25px;
        top: 80px;
        font-size: 14px;
   }

   /* .option_street_commerce button{
        padding: 12px 70px;
        left: -0%;
        top: 30px;
        
   }
   .option_business_building button{
        padding: 12px 73px;
        left: -0%;
        top: 30px;
   } */
  
   .button_back button{
        padding: 12px 70px;
        top: 100px;
        font-size: 14px;
   }
}

@media (max-width: 391px) {
    .progressOne_option_townhouse{
        left: -8%;
    }
    .progressLabel_option_townhouse{
        top: -3.3%;
    }
}

@media (max-width: 376px) {
    .progressOne_option_townhouse{
        position: relative;
        height: 20px;
        left: -5.1%;
        width: 30%;
        top: 2%;
    }
    .progressLabel_option_townhouse{
        position: absolute;
        left: 16%;
        top: -3.8%;
    }

    .option_townhouse_shopping_center button {
        font-size: 14px;
        top: 15px;
        top: 50px;
    }
    .option_townhouse_industrial_area button {
        font-size: 14px;
        top: 50px;
    }
    /* .option_street_commerce button {
        font-size: 14px;
        top: 1px;
    }
    .option_business_building button {
        font-size: 14px;
        top: 5px;
    } */
    .button_back button {
        font-size: 14px;

        top: 80px;
    }
}

