.container_option_way {
    position: relative; 
    justify-content: center;
    align-items: center;
    
   
  }
  .title_option_way{
    margin-top: 50px;
  }
  
  .buttonsWrapper_option_way_ape{
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .progressOne_option_way {
    position: absolute;
    top: -5px;
    left: -4.2%;
    margin-top: -29px;
    margin-left: 0px;
    height: 34px;
    width: 390px;
    background-color: #e4e01c;
    border-radius: 25px;
    flex-grow: 1;
    
  }
  .progressLabel_option_way{
    position: relative;
    left: 15px;
    transform: translateX(-50%);
    margin: 0;
    top: -27px;
    font-weight: bold;
  }
  
  .option_way_ape button, 
  .option_way_car button, 
  .option_way_motorbike button{
    background-color: #200082;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 70px 1px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
  }
  

  .buttonBack_option_way button{
    background-color: #da1717;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
  }
  .option_way_ape button:hover, .option_way_car button:hover,
  .option_way_motorbike button:hover{
    background-color: #3B00E9;
  }
   .buttonBack_option_way button:hover{
    background-color: #ff000dcc;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .option_way_ape button, 
  .option_way_car button, 
  .option_way_motorbike button,
  .buttonBack_option_way button {
    opacity: 0;  
    animation: appear 2s forwards;
  }
  
  @media (max-width: 1500px){
    .progressOne_option_way{
      height: 30px;
      top: -1px;
      left: -11px;
    }

    .title_option_way{
      margin-top: 20px;
    }

    .option_way_ape button{
      top: -20px;
    } 
    .option_way_car button{
      top: -20px;
    } 
    .option_way_motorbike button{
      top: -20px;
    }

    .buttonBack_option_way button{
      top: -30px;
    }
    
  }
  
  @media (max-width: 768px){
    .progressOne_option_way{
        position: relative;
        height: 26px;
        left: 90px;
        width: 70px;
        top: 3px;
    }
    .progressLabel_option_way{
        position: absolute;
        left: 150px;
        top: 3.5%;
        transform: translateY(-50%);
    }
    .title_option_way{
        height: 10vh;
        margin-top: 50px;
    }

    
    .buttonsWrapper_option_way_ape{
        flex-direction: column;
        gap: 10px;
        margin-top: 80px;
        
    }
    .option_way_ape, 
    .option_way_car, 
    .option_way_motorbike{
        margin-top: -80px;
        margin-bottom: 5px;
    }
    .buttonBack_option_way{
        margin-top: -100px;
    }

    .option_way_ape button, 
    .option_way_car button,
    .option_way_motorbike button {
        font-size: 14px;
        margin-top: 10px;
        padding: 12px 70px;
        
    }
    .buttonBack_option_way button{
        font-size: 14px;
        margin-top: 50px;
        padding: 12px 80px;
        
    }
  }

  @media (max-width: 376px){
    .progressOne_option_way{
        width: 50%;
        left: 2%;
        height: 20px;
        top: 8px
    }
    .progressLabel_option_way{
        left: 42%;
        /* top: 3.9%; */
        margin-top: 1.2%;
    }
  }

  @media (max-width: 428px){
    .progressOne_option_way{
      width: 50%;
      left: 2%;
    }
    .progressLabel_option_way{
      left: 40%;
      top: 4.3%;
    }
  }
