.container_end {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 12px;
}

.alert {
    padding: 15px;
    background-color: #4CAF50; /* Verde */
    color: white;
    opacity: 0.9;
    transition: opacity 0.6s; /* Transição de 0.6s para o desaparecimento do alerta */
    position: fixed; /* Fixar o alerta no topo */
    top: 0;
    left: 50%; /* Centralizar o alerta na tela */
    transform: translateX(-50%); /* Ajuste final para centralizar */
    z-index: 1000; /* Garante que o alerta estará acima de outros elementos */
    border-radius: 4px; /* Borda arredondada */
    text-align: center; /* Centralizar o texto */
    width: 80%; /* Definir uma largura para o alerta */
    max-width: 600px; /* Largura máxima */
  }
  
  .alertError {
    padding: 15px;
    background-color: #ff0000; /* Verde */
    color: white;
    opacity: 0.9;
    transition: opacity 0.6s; /* Transição de 0.6s para o desaparecimento do alerta */
    position: fixed; /* Fixar o alerta no topo */
    top: 0;
    left: 50%; /* Centralizar o alerta na tela */
    transform: translateX(-50%); /* Ajuste final para centralizar */
    z-index: 1000; /* Garante que o alerta estará acima de outros elementos */
    border-radius: 4px; /* Borda arredondada */
    text-align: center; /* Centralizar o texto */
    width: 80%; /* Definir uma largura para o alerta */
    max-width: 600px; /* Largura máxima */
  }


.progressOneEndForm{
    position: absolute;
    top: -1.4%;
    left: -21.5%;
    margin-top: -29px;
    margin-left: 0px;
    height: 35px;
    width: 672px;
    background-color: #e4e01c;
    border-radius: 25px;
    flex-grow: 1;
}
.progressLabelEndForm{
    position: relative;
    left: 115%;
    transform: translateX(-50%);
    margin: 0;
    top: -47px;
    font-weight: bold;
}




.name {
    animation: appear 2s forwards;
    animation-delay: 0.2s;
    font-weight: bold;
}

.cep {
    animation: appear 2s forwards;
    animation-delay: 0.3s;
    font-weight: bold;
}

.email {
    animation: appear 2s forwards;
    animation-delay: 0.4s;
    font-weight: bold;
}

.phone {
    animation: appear 2s forwards;
    animation-delay: 0.5s;
    font-weight: bold;
}


.name, .cep, .email, .phone, input[type="text"], .send button, .back button {
    opacity: 0;
    transform: translateY(-30px);
}


input[type="text"] {
    width: 100%;
    padding: 10px 10px 10px 0; 
    margin-bottom: 20px;
    border: none; 
    border-bottom: 2px solid #ccc; 
    outline: none;
    background-color: transparent; 
    transition: border-bottom 0.3s; 
    animation: appear 2s forwards;
    animation-delay: 1s;
}
input[type="text"]:focus {
    border-bottom: 2px solid #007BFF; /* Destaca a borda inferior ao focar */
}


.wrapperbuttons{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.send button{
    background-color: #200082;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
}
.back button{
    background-color: #da1717;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s; 
    position: relative;
    overflow: hidden;
}

.send button:hover{
    background-color: #3B00E9;
}
.back button:hover{
    background-color: #FF0000;
}

@keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.send button, .back button{
    animation: appear 2s forwards;
    animation-delay: 1s;
}



@media (max-width: 1500px){
    .progressOneEndForm{
        height: 31px;
        top: -2px;
        left: -88px;
        width: 138%;
    }

    input[type="text"] {
        
        padding: 5px 10px 10px 0;
    }
    
    .name {
        font-size: 14px;
        /* padding: 0px 0px 0px 0px; */
        margin-top: -30px;
     }
     
     .cep {
         font-size: 14px;
         
     }
     
     .email {
         font-size: 14px;
     }
     
     .phone {
         font-size: 14px;
     }
}

/* Estilos gerais para dispositivos móveis */
@media only screen and (max-width: 768px) {
  
   
    .container_end {
        padding: 10px;
    }


    .send button, .back button {
        padding: 10px 60px; 
        font-size: 14px;
        top: 10px;    
    }
    
    .wrapperbuttons {
        gap: 30px;             
    }

    .progressOneEndForm{
        position: relative;
        height: 26px;
        width: 107.5%;
        left: -4%;
        top: -7px;
    }
    .progressLabelEndForm{
        position: absolute;
        top: -20px;
        left: 92%;
        
    }


    .name {
       font-size: 14px;

       padding: 50px 0px 0px 0px;

    }
    
    .cep {
        font-size: 14px;
    }
    
    .email {
        font-size: 14px;
    }
    
    .phone {
        font-size: 14px;
    }
}

@media (max-width: 428px){
    .progressOneEndForm{
        left: -5.9%;
        width: 111%;
    }
}

@media (max-width: 415px){
    .progressOneEndForm{
      width: 108%;
      left: -14.8px;
    }
  }

@media (max-width: 393px){
    .progressOneEndForm{
        width: 101%;
        left: -1.4px;
    }
}

@media (max-width: 376px){
    .progressOneEndForm{
        top: -1px;
        height: 20px;
        width: 97%;
        left: 1.2%;
    }
    .progressLabelEndForm{
        top: -17px;
        left: 87%;
    }
}
